[Unit]
Description=ORP Neventaken Portaal
After=network.target postgresql.service

[Service]
Type=simple
User=defensie
WorkingDirectory=/home/defensie/defensie-personeelsportaal
EnvironmentFile=/home/defensie/defensie-personeelsportaal/.env.side-tasks
ExecStart=/usr/bin/node /home/defensie/defensie-personeelsportaal/side-tasks-server.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
